html, body {
    width: 100%;
}
table {
    margin: 0 auto;
}

h2, h3, h4, h5, h6 {font-family:Arial, sans-serif; text-align: left}
h1 {font-family:Arial, sans-serif; text-align: center}
p {font-family:Arial, sans-serif; text-align: justify; font-size: 13.5px}

ul {text-align: justify}

